<div class="login container mt-5">
    <div class="login row">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Sign in</h1>
            <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, adipisci esse, quia rerum molestiae corrupti, in minus ea autem ut dolorum. Assumenda, cumque alias eveniet ipsam perspiciatis ad id blanditiis?</p>
        </div>
        <!-- <div class="col-3"></div> -->
        <!-- <ng-container *ngIf="userLoginFg"> -->
        <!-- <div class="col-lg-6 offset-lg-3 ">
            <form [formGroup]="hello">
                <label for="username">Email Id</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">@</span>
                    </div>
                    <input class="form-control" type="text" placeholder="Email Id" formControlName="userName"><br>
                    <div *ngIf="userLoginFg.get('userName').invalid && userLoginFg.get('userName').touched">
                        <p class="text-danger" *ngIf="userLoginFg.get('userName').errors.required">First Name Required</p>
                    </div>
                </div><br>
                <label for="username">Password</label>
                <input class="form-control" type="password" placeholder="Password" formControlName="password">
                <div *ngIf="userLoginFg.get('password').invalid && userLoginFg.get('password').touched">
                    <p class="text-danger" *ngIf="userLoginFg.get('password').errors.required">First Name Required</p>
                </div>
                <div class="form-check">
                    <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                    <label class="form-check-label mt-2" for="inlineRadio1">Remember me</label>
                </div><br>

                <button type="button" class="w-50 btn btn-dark offset-lg-3">Sign in</button>
            </form>
        </div> -->
        <!-- </ng-container> -->
        <!-- <div class="col-3"></div> -->
    </div>
</div>