<div class="container ">
    <div class="row mt-5 mb-5">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Profile</h1>
            <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, adipisci esse, quia rerum molestiae corrupti, in minus ea autem ut dolorum. Assumenda, cumque alias eveniet ipsam perspiciatis ad id blanditiis?</p>
        </div>
        <div class="col shadow-lg p-3 mb-5 bg-white rounded">
            <div class="mb-2 ">
                <h1>My Account</h1>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName" class="text-muted">First name</label>
                    <p>Ankit</p>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="lastName" class="text-muted">Last name</label>
                    <p>Rao</p>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="mailId" class="text-muted">Email Id</label>
                    <p>ankitrao@gmail.com</p>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="userName" class="text-muted">User Name</label>
                    <p> <span class="text-muted">@ </span> Ankit</p>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="phoneNumber" class="text-muted">Phone Number</label>
                    <p><span class="text-muted">+1 </span> 1234567890</p>
                </div>
            </div>
            <hr>
            <div class="row">

                <div class="col-md-6 mb-3">
                    <label for="phoneNumber" class="text-muted">Address</label>
                    <p>1202 Chase Heritage Circle</p>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="address2" class="text-muted">Address 2</label>
                    <p>Apt 101</p>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="country" class="text-muted">Country</label>
                    <p>U.S</p>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="state" class="text-muted">State</label>
                    <p>V.A</p>
                </div>
                <!-- <div class="col-md-6 mb-3">
                    <label for="city" class="text-muted">City</label>
                    <p>Sterling</p>
                </div> -->
                <div class="col-md-6 mb-3">
                    <label for="zip" class="text-muted">Zip</label>
                    <p>20164</p>
                </div>
            </div>
        </div>
    </div>
</div>