<div class="mid container pb-5 pt-5">
    <div class="mid row">
        <div class="mid col">
            <div class="col-xs-1 text-center m-5">
                <h1>WELCOME, Ankit</h1>
                <p class="mt-5">You can access yor profile details <a routerLink="../profile">here</a></p>
            </div>
            <hr>
            <div class=" text-center m-5">
                <!-- <div *ngIf="isBackendDown" class="alert alert-danger" role="alert">
                    <strong>Oh snap!</strong> Change a few things up and try submitting again.
                </div> -->
                <!-- <h1 class="card-header" style="background-color: rgba(0, 0, 0, .85);color: #8e8e8e;">Hello, 636-XXX-XXXX.</h1> -->
                <div class="card-body">
                    <h2 class="card-title">Plan Name</h2><br>
                    <h6 class="card-text">Plan Description</h6>
                    <h6 class="card-text">Amount Due:<span> $30.00</span></h6><br>
                    <a class="text-decoration-none" href="">
                        <h6 class="text-secondary">View Recent Payment history</h6>
                    </a><br>
                    <span style="color: green;">Need to make Payment</span><br><br>
                    <button type="button" class="w-50 btn btn-dark">Pay</button>
                </div>
            </div>
        </div>
    </div>
</div>